<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
               My name is Waqar Hussain Shah. I am First-year doctoral student in Applied Mathematics in the Optics, Complex Systems and Innovation Laboratory, at University of Guadalajara. My dissertation focused on the analysis on time series of the dynamical systems.
            </p>
            <p class="paragraph-text justify-text">
            I hold a Master Degree 'Master of Science in Mathematics', with a major in image classification model from the COMSATS University, Pakistan. Before that, I also obtained a Bachelor Degree in Mathematics from University of Gujrat, Pakistan. 
            </p>
            <p class="paragraph-text justify-text">
                I am a conscientious mathematician with an aim to utilize my knowledge and pass it on to others. I find myself interested in discussions about life, math, and poetry. 
        </div>
    </section>
</div>
